ul {
    overflow: hidden;
    background-color: rgb(97, 100, 97);
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

li {
    float: left;
}

li a {
    font-size: 2.5vw;
    display: block;
    color: white;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #112;
}
footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    padding: 0.1vw 0vw 0.1vw 0vw;
    background-color: rgb(97, 100, 97);
    color: white;
    bottom:0px;
    margin: 0px;
    width: 100%;
    left: 0;
    }

    .heading{
        font-size: 4vw;
        text-align: center;
        color: #858282;
    }