@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0px;
}

.hide {
    display: none;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgba(91, 91, 180, 0.521), rgba(156, 80, 80, 0.459));
}

/* :nth-child(1) */

@media screen and (min-width:320px) {

    /* first screen */
    .logoContainer img {
        width: 150px;
        margin-top: 35%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        text-align: center;
        background-color: rgba(91, 91, 180, 0.4);
        padding: 5px;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: rgb(228, 239, 248);
    }

    .welcomeScreenContainer h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: rgb(60, 69, 110);
    }

    .welcomeScreenContainer p {
        font-family: 'Poppins', sans-serif;
        margin-left: 8%;
        font-size: 15px;
    }

    .welcomeScreenContainer button,
    .infoContainer button,
    .imgContainer button,
    .rpsGameContainer button,
    #rpsGameResultContainer button,
    #cricketGameContainer button,
    #endGameContainer button {
        font-family: 'Poppins', sans-serif;
        margin-left: 40%;
        margin-top: 10px;
        background-color: rgb(214, 229, 236);
        border-radius: 8px;
        color: rgb(29, 44, 112);
        border: 1px solid grey;
        font-size: 18px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        margin-bottom: 150px;
        cursor: pointer;
    }

    /*second screen*/
    .infoContainer {
        padding: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        margin-left: 8%;
    }

    /*third screen*/
    .imgContainer img {
        width: 50px;
        margin-left: 20px;
        margin-top: 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .imgContainer {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }

    .imgContainer button {
        margin-left: 45%;
    }

    /* fourth screen */
    .rpsGameContainer p,
    #rpsGameResultContainer p,
    #cricketGameContainer p,
    #endGameContainer p {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }

    .rpsGameContainer select,
    #cricketGameContainer select,
    #ballOrBatSelect {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        border-radius: 6px;
        border: 1px solid grey;
        background-color: rgb(231, 232, 248);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        margin-left: 5%;
        margin-top: 10px;
    }

    .rpsGameContainer,
    #cricketGameContainer,
    #endGameContainer {
        padding: 10px;
    }

    .rpsGameContainer button,
    #cricketGameContainer button {
        font-size: 15px;
        margin-left: 1%;
    }

    .rpsGameContainer button:disabled,
    #cricketGameContainer button:disabled {
        background-color: rgb(51, 55, 56);
        color: white;
    }

    #rpsResultPara,
    #cricketResult {
        margin-top: -130px;
    }

    #rpsResultPara img,
    #rpsGameResultContainer img,
    #cricketGameContainer img,
    #endGameContainer img {
        width: 50px;
        margin: 10px 7px 0px 7px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    #rpsCounterPara,
    #cricketCounterPara {
        margin-left: 30%;
        font-weight: bold;
        color: rgb(182, 41, 31);
        margin-top: 10px;
    }

    /*
    fifth screen
    */
    #rpsGameResultContainer {
        margin-top: -30px;
        padding: 10px;
        margin-left: 5%;
    }

    #rpsGameResultContainer button {
        margin-left: 45%;
    }

    #ballOrBatSelectPara {
        margin-top: 10px;
    }

    #ballOrBatSelect {
        margin-left: 43%;
    }

    /* 6th screen */
    #cricketGameContainer {
        margin-left: 5%;
    }

    #whoBat {
        font-weight: bold;
    }

    /* 7th screen*/
    #endGameContainer {
        margin-top: -30px;
        margin-left: 5%;
    }

    .bottomMargin {
        margin-bottom: 150px;
    }

    /*navbar*/
    nav {
        position: fixed;
        top: 0px;
        width: 100%;
        background-color: rgba(91, 91, 180, 0.4);
        padding: 5px;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: rgb(245, 245, 245);
        display: flex;
        justify-content: space-evenly;
    }

    nav div {
        flex: 1;
        text-align: center;
        border: 0.5px solid grey;
        padding: 1%;
        background-color: rgba(104, 154, 197, 0.705);
        cursor: pointer;
    }

    nav div:hover {
        background-color: rgba(43, 63, 80, 0.705);
    }

}

@media screen and (min-width:320px) and (orientation: landscape) {
    footer {
        position: absolute;
        margin-bottom: -300px;
    }

    nav {
        position: absolute;
    }
}